body{
    background-color: lightgrey;
}

.container{
    width: 960px;
    margin: 0 auto;
}

#register{
    background-color: white;
    height: auto;
    width: 300px;
    margin: 150px auto auto;
    padding: 20px;
    border-top: 0px;
}

#logo{
    width: 300px;
    font-family: "Courier New", Courier, mono;
    font-style: italic;
}

#register #logo h1{
    padding: 0 35px 0 35px;
    color: #0e84b5;
}

#register form{
    width: 100%;
    display: block;
}

#register form .box{
    margin-bottom: 15px;
    position: relative;
}

#register form .box input {
    width: 100%;
    height: 30px;
}
#register form .box button{
    color: white;
    height: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: none;
    background-color: #0e84b5;
    width: 50%;
    margin: auto 25%;
}
#register form .box button:hover{
    color: #0e84b5;
    border: 1px solid #0e84b5;
    background: white;
    transition: 0.5s;
}
/*TEST POLICE*/

.col-xs-12{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}