body{
    background-color: #A7A6AA;
}

.container{
    width: 960px;
    margin: 0 auto;
}

#register{
    background-color: white;
    height: auto;
    width: 300px;
    margin: auto;
    border: 1px solid #efefef;
}

#logo{
    width: 300px;
    font-family: "Courier New", Courier, mono;
    font-style: italic;
}

h1{
    padding: 0 35px 0 35px;
}

#signupForm{
   
}

/*TEST POLICE*/

.col-xs-12{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}