#logo{
    font-family: "Courier New", Courier, mono;
    font-style: italic;
    padding: 10% 0 0 45%;
}

.container{
    width: 960px;
    margin: 0 auto;
}

#signupForm{
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 1px;
    padding: 0 0 0 45% ;
}

/*TEST POLICE*/

.col-xs-12{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}