html{
    background-color: lightsteelblue;
}

.or{
    margin-bottom: 20px;
    text-align: center;
    color: #0e84b5;
    font-family: "Courier New", Courier, mono;
    font-weight: bolder;
}

.line {
    height: 1px;
    margin: 7px 0;
    background-color: #0e84b5;
}

body .container .login #logo{
    margin-bottom: 20px;
    text-align: center;
}

body #logo h1{
    margin: 0 10px;
    padding:0 30px;
    color: #004C96;
    font-family: "Courier New", Courier, mono;
}

body .container{
    width: 960px;
    margin: 0 auto;
}

body .container .login{
    height: auto;
    width: 300px;
    margin: 150px auto auto;
    padding: 20px;
    border-top: 0px;
    background-color: white;
}

body .container .login form{
    width: 100%;
    display: block;
}

body .container .login form .box{
    margin-bottom: 20px;
    position: relative;
}

body .container .login form .box input {
    width: 100%;
    height: 30px;
}

body .container .login form .box button{
    color: white;
    height: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: none;
    background-color: #0e84b5;
    width: 50%;
    margin: auto 25%;
}
body .container .login form .box button:hover{
    color: #0e84b5;
    border: 1px solid #0e84b5;
    background: white;
    transition: 0.5s;
}