body{
    background-color: lightsteelblue;
}

body h1{
    margin: 0 10px;
    color: #004C96;
    font-family: "Courier New", Courier, mono;
    font-style: italic;
}

.link{
    margin-bottom: 10px;
    text-align: center;
}

.link a{
    text-decoration: none;
    font-size: 1.2em;
    color: #0e84b5;
}

form {
    background-color: white;
    padding: 0 20px;
}

.confirm-div {
    color: blue;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.connect-form{
    text-align: center;
}

input{
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

button{
    color: white;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid transparent;
    box-shadow: none;
    background-color: #0e84b5;
}

button:hover{
    color: #0e84b5;
    border: 1px solid #0e84b5;
    background: white;
    transition: 0.5s;
}

#errors {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}