body{
    background-color: lightsteelblue;
}

body h1{
    margin: 0 10px;
    color: #004C96;
    font-family: "Courier New", Courier, mono;
    font-style: italic;
}

.nav{
    height:3em;
    background-color: #0e84b5;
    text-align: left;
}

.nav a{
    color: white;
    margin-right: 40px;
    height: 3em;
    text-decoration: none;
    font-family: "Courier New", Courier, mono;
    font-size: 1.3em;
    line-height: 2.1em;
}

.picture .like #likeBts{
    border: none;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-image: url("../img/icons/like.jpeg");
    background-size: contain;
}