body{
    background-color: lightsteelblue;
}

body h1{
    margin: 0 10px;
    color: #004C96;
    font-family: "Courier New", Courier, mono;
    font-style: italic;
}

.photo, .like, #come{
    background-color: #0e84b5;
}

#come{
    padding: 0 15px;
}
.nav{
    height:3em;
    background-color: #0e84b5;
    text-align: left;
}

.nav a{
    color: white;
    margin-right: 40px;
    height: 3em;
    text-decoration: none;
    font-family: "Courier New", Courier, mono;
    font-size: 1.3em;
    line-height: 2.1em;
}

@font-face {
    font-family: FontAwesome;
    src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.likebt:before {
    content: "\f164";
}

.likebt{
    font-size: 35px;
}

.likebt:hover{
    color: #0e84b5;
}

#com{
    border-radius: 15px;
    border: 1px solid transparent;
    height: 100px;
    font-size: 15px;
    text-align: inherit;
    margin-bottom: 15px;
}

.displaycom{
    border: solid;
    border-color: #0e84b5;
    margin-bottom: 30px;
    height: 30%;
    overflow-y: scroll;
}

#sendCom{
    color: white;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid transparent;
    box-shadow: none;
    background-color: #0e84b5;
}

#sendCom:hover{
    color: #0e84b5;
    border: 1px solid #0e84b5;
    background: white;
    transition: 0.5s;
}

#delImg{
    color: white;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid transparent;
    box-shadow: none;
    background-color: darkred;
}

#delImg:hover{
    color: darkred;
    border: 1px solid darkred;
    background: white;
    transition: 0.5s;
}
#errors {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
